<div class="footer"></div>

<script>
    {{.ScriptData}}
</script>

<script src="scripts/common/domHelper.js"></script>
<script src="scripts/map/mouseScroll.js"></script>

<script src="scripts/map/gridData.js"></script>
<script src="scripts/map/infobar.js"></script>
<script src="scripts/map/resourcesHandler.js"></script>
<script src="scripts/map/npcHandler.js"></script>
<script src="scripts/map/mapGrid.js"></script>